<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Ristocloud Menu</title>
  <script src="https://telegram.org/js/telegram-web-app.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.12.2/lottie.min.js" integrity="sha512-jEnuDt6jfecCjthQAJ+ed0MTVA++5ZKmlUcmDGBv2vUI/REn6FuIdixLNnQT+vKusE2hhTk2is3cFvv5wA+Sgg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">

  <link href="/menu-webapp/webapp.css" rel="stylesheet">
</head>

<script type="text/javascript">
  Telegram.WebApp.ready();
  // Telegram.WebApp.MainButton.setText('Choose Color').show().onClick(function () {
  //   const data = JSON.stringify({ hex: colorPicker.color.hexString, rgb: colorPicker.color.rgb });
  //   Telegram.WebApp.sendData(data);
  //   Telegram.WebApp.close();
  // });
</script>

<body style="background-color: var(--tg-theme-bg-color);">
  <div style="width: 100%; height: 100%;" id="app">
    <div v-for="dishType in dishesByDishType" :key="dishType.ID" style="margin: 1rem;">
      <p class="inter fw-600" style="text-transform: uppercase;">{{ dishType.Name }}</p>
      <div style="display: grid; gap: 1rem; grid-template-columns: 1fr 1fr 1fr;">
        <div v-for="dish in dishType.Dishes" :key="dish.ID">
          <div style="width: 100%; display: flex; flex-direction: column; align-items: center;">
            <div style="border-radius: 50%; overflow: hidden; width: 6rem; height: 6rem; box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);">
              <img :src="dish.Image.URL" alt="Dish" style="width: 100%; height: 100%; object-fit: cover; display: block;">
            </div>
            <p style="text-align: center; text-transform: capitalize; font-size: 0.7rem;" class="inter fw-500">{{ dish.Name }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="/menu-webapp/webapp.js"></script>
  <script>
    window.onload = function() {
      window.loadMenu();
    };
  </script>  
</body>
</html>